
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>

    <link rel="stylesheet" href="profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="../static/css/generalStyleTbay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:fragment="header">
        <div class="banner">
            <div class="logo">
                <a th:href="@{/user/homepage/{userId}(userId=${user.userId})}"> <img th:src="@{/tbaylogoTRANS.png}" height="150" width="170" alt=""> </a>
            </div>


            <form th:action="@{/searchResults}" method="GET">
                <div class="search">
                    <input type="text" id="mySearch" name="name" placeholder="Search by book title or subject..." title="Type in a category">
                </div>

                <input type="hidden" name="userId" th:value="${user.userId}" />

                <div class="SearchButton">
                    <button type="submit" class="search-button pure-button pure-button-active">Search!</button>
                </div>
            </form>

            <div class="shopping">
                <a th:href="@{/carts/{cartId}(cartId=${user.cartId})}"><img th:src="@{/shopping-cart.png}" height="75" width="75"  alt=""></a>
            </div>

            <div class="profile">
                <a th:href="@{/users/{userId}(userId=${user.userId})}"><img th:src="@{'data:image/jpeg;base64,'+${profilePic}}" height="125" width="125"></a>
            </div>
        </div>

    </div>

<!--    PSUEDO CODE IDEA FOR SEARCH FUNCTION-->
<!--    <script>-->
<!--        function search() {-->
<!--        let input = document.getElementById('searchbar').value-->
<!--        input = input.toLowerCase();-->

<!--        listingIDs[] = getAllListings();-->
<!--        ints results[];-->
<!--        const searchList = new Map();-->

<!--        for(let i =0; i < listingIDs.length; i++;){-->
<!--            searchList.set(listingIDs[i], searchList.set(listingIDs[i].getName()));-->
<!--                }-->

<!--        searchList.forEach(){-->
<!--        if(searchList.value() == input){-->
<!--            results[] = searchList.key();-->
<!--        }-->
<!--        }-->

<!--        for(let x=0; x < results.length; x++;){-->
<!--        display result[x] in table-->
<!--        }-->
<!--            }-->
<!--    </script>-->


</head>
</html>