<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../css/generalStyleTbay.css" th:href="@{/css/generalStyleTbay.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav data-th-insert="~{./fragments/header :: header}"></nav>

</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" src="../static/pfp.png" alt="">
                        <ul class="meta list list-unstyled" style="list-style-type:none; padding-left: 0px;">
                            <li class="name">Administrator Sauron</li>
                            <li class="email"><a href="#"> All communications to: AdminMail@mail.com</a></li>
                            <li class="activity">Member Since: November 8, 1998</li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span>Moderation History</a></li>
                            <li><a href="log-in.html"><span class="fa fa-envelope"></span> Log Out</a></li>
                            <li><a href="user-list.html"><span class="fa fa-crosshairs"></span> User List</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">Bio:</h2>
                        <div class="actions">
                            <a href="">
                                <button class="btn btn-success"><i class="fa fa-plus"></i> Edit Profile</button>
                            </a>                           
                            <a href="profile.html">
                                <button class="btn btn-success"><i class="fa fa-plus"></i> Switch To Customer</button>
                            </a>
                            <a href="sellerpage.html">
                                <button class="btn btn-success"><i class="fa fa-plus"></i> Switch To Seller</button>
                            </a>
                        </div>
                        <div class="content-bio">
                            <p>This is an offical Tbay administrative account. Any and all communication to and from this user is in accordance and enforcement of Tbay policy.</p>
                        </div>
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
            



</body>
</html>