<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tbay Checkout</title>
    <link rel="stylesheet" href="../../../../../generalStyleTbay.css">
    <div class="banner">

        <div class="logo">
            <a href="homepage.html"><img src="tbaylogoTRANS.png" height="150" width="170"> </a>
        </div>

        <div class="search">
            <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search by book title or subject..." title="Type in a category">
        </div>
        <a href="results.html">
            <div class="SearchButton">
                <a href="results.html">
                <button class="search-button pure-button pure-button-active" href="results.html">Search!</button>
                </a>
            </div>


        <div class="shopping">
            <a href="checkout.html"><img src="shopping-cart.png" height="75" width="75" ></a>
        </div>

        <div class="profile">
            <a href="profile.html"><img src="../../../../../profilePic.png" height="125" width="125" ></a>
        </div>
    </div>

</head>
<body>
<h1 style="margin-left:150px">Shopping Cart</h1>
<a href="checkoutRefresh.html">
<div class="deleteItem">
    <div class="x">X</div>
</div>
</a>

<div class="checkoutBox">
    <div class="checkoutItem">
        <img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQall07KN-dq6R9Y-9ZOMNpqh2i2jGDYvHHniBqX_HU4_ysm18Wgu4CoLOEQlBlCMQdctGzR-U21cuwP6Gc_yOUUJJsJonYDluiH3iF-Ys" style="height:80px; width:100px position:absolute;">
    </div>
    <p style="font-size: 15px; text-align:left; padding-left: 110px;">Title: HTML, CSS & Javascript for Dummies</p>
    <p style="font-size: 15px; text-align:left; padding-left: 110px;">Seller: Smegol</p>
    <p style="font-size: 20px; text-align:right; position: relative; top:-35px">$25.00</p>
</div>


<div class="checkoutButton" style="background-color: #637AD2;">Checkout</div>
<p style="font-size: 30px; text-align:left; padding-left: 1100px; top: -50px; position: relative;">Total:</p>
<div class="totalBox"><p style="font-size:29px">$25.00</p></div>


</body>
</html>