<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="../css/log-in-style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>

<body>
<div class="main">
    <img src="../../tbaylogo.png" alt = "logo"
         width="200"
         height="180"/>
    <h1><u>Create Your Account</u></h1>

    <form id="form" th:action="@{/users/new}" method="post">
        <label for="name">
            Name:
        </label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name" required>
        <p>
            <label for="email">
                Email:
            </label>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter your Email" required>
        </p>
        <p>
            <label for="password">Password:</label>
            <input name="password" class="form-control" placeholder="Enter a Password" type="password" id="password" required>
        </p>

        <label for="role">Role:</label>
        <select id="role" name="role" onchange="updateFormAction()">
            <option value="user">User</option>
            <option value="seller">Seller</option>
            <option value="admin">Admin</option>
        </select>

            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script>
        function updateFormAction() {
            const form = document.getElementById("form");
            const selectedRole = document.getElementById("role").value;

            if (selectedRole === "user") {
                form.action = "/users/new";
            } else if (selectedRole === "seller") {
                form.action = "/seller/new";
            } else if (selectedRole === "admin") {
                form.action = "/admin/new";
            }
        }
    </script>
</div>
</body>
</html>