<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>

    <link rel="stylesheet" type="text/css" href="../css/generalStyleTbay.css" th:href="@{/css/generalStyleTbay.css}">
    <link rel="stylesheet" type="text/css" href="../css/profile.css" th:href="@{/css/profile.css}">

    <link rel="stylesheet" href="../static/css/generalStyleTbay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="~{fragments/header :: header(userId=${user.userId}, profilePic=${profilePic})}"></div>

</head>
<body>

<center>
<div class="editProfile">
    <h2>Edit Profile</h2>

    <div class="editPFP">
        <img th:src="@{'data:image/jpeg;base64,'+${profilePic}}" height="125" width="125">
</div>
        <form action="/users/uploadImage" method="post" enctype="multipart/form-data">
            <input id="input-file" type="file" name="file"/>
            <input type="hidden" name="userId" data-th-value="${user.userId}">
            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                Upload File
            </button>
        </form>
        <form action="/users/update" method="post">
            <div class="editForm">
                <center>
                    <input type="hidden" id="userId" name="userId" data-th-value="${user.userId}">
                    <label>Name:</label> <input type="text" class="form-control" id="name" name="name" th:field="${user.name}"><br>
                    <label>Email:</label> <input type="text" class="form-control" id="email" name="email" th:field="${user.email}"><br>
                    <label>Password:</label> <input type="text" class="form-control" id="password" name="password" th:field="${user.password}"><br>
                    <label>Bio:</label> <input style="height=100px" type="text" class="form-control" id="bio" name="bio" th:field="${user.bio}"><br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </center>
            </div>
        </form>
    </div>

</body>
</html>