<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tbay Homepage</title>
    <link rel="stylesheet" href="../static/css/generalStyleTbay.css">
    <link rel="stylesheet" type="text/css" href="../css/generalStyleTbay.css" th:href="@{/css/generalStyleTbay.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="fragments/header :: header(userId=${user.userId})"></div>
</head>
<body>

<center><h2 data-th-text=" 'Welcome Back, ' + ${user.name}"></h2></center>

<div class="drive-wrapper drive-grid-view">
    <div class="grid-items-wrapper">
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 100</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 200</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 300</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 400</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 500</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 600</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 700</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 800</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 900</li>
                    </ul>
                </div>
            </div>
        </a>


    </div>
</div>
</div>

<h2><center>Recommended for You</center></h2>

<div class="drive-wrapper drive-grid-view">
    <div class="grid-items-wrapper">
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 100</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 200</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 300</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 400</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 500</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 600</li>
                    </ul>
                </div>
            </div>
        </a>

        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 700</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 800</li>
                    </ul>
                </div>
            </div>
        </a>
        <a href="indivListing.html" style="color: #616670">
            <div class="drive-item module text-center">
                <div class="drive-item-inner module-inner">
                    <div class="drive-item-thumb">
                        <img class="img-responsive" src="../static/tbaylogo.PNG" alt="">
                    </div>
                </div>
                <div class="drive-item-footer module-footer">
                    <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                        <li>Listing Name</li>
                        <li>Price: 900</li>
                    </ul>
                </div>
            </div>
        </a>


    </div>
</div>
</div>
</body>
</html>