<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Individual Listing Page</title>
    <link rel="stylesheet" type="text/css" href="../css/indivListingStyle.css" th:href="@{/css/indivListingStyle.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="~{fragments/headerSeller :: headerSeller(sellerId=${seller.sellerId}, profilePic=${profilePic})}"></div>

</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="left-column">
                        <img data-image="black" th:src="@{'data:image/jpeg;base64,'+${listingImg}}" alt="">
                    </div>
                    <div class="right-column">
                        <div class="product-description">
                            <span data-th-text="${listing.tag}"></span>
                            <h1 data-th-text="${listing.name}"></h1>
                            <h2 data-th-text="${seller.name}"></h2>
                            <p data-th-text="${listing.description}"></p>
                        </div>
                        <div class="product-configuration">
                            <div class="type-config">
                                <div class="type-choose">
                                    <button>Thing1</button>
                                    <button>Thing2</button>
                                    <button>Thing3</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-price">
                            <span data-th-text="'$'+${listing.price}"></span>
                            <a data-th-href="@{/Listing/updateListing/{listingId} (listingId=${listing.listingId})}">
                                <button class="cart-button">Edit Listing</button>
                            </a>
                            <a data-th-href="@{/Listing/delete/{listingId} (listingId=${listing.listingId})}" class="cart-button" style="background-color: #f44336">Delete
                                Listing</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>




</body>
</html>