<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Individual Listing Page</title>
    <link rel="stylesheet" type="text/css" href="../css/indivListingStyle.css" th:href="@{/css/indivListingStyle.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav data-th-insert="~{./fragments/header :: header}"></nav>

</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                            <li><a href="#"><img th:src="@{/tbaylogoTRANS.png}" alt="" class="center"></a></li>
                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="left-column">
                        <img data-image="black" th:src="@{'data:image/jpeg;base64,'+${listingImg}}" alt="">

                        <form action="/Listing/uploadImage" method="post" enctype="multipart/form-data">
                            <input id="input-file" type="file" name="file"/>
                            <input type="hidden" name="listingId" data-th-value="${listing.listingId}">
                            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                                Upload File
                            </button>
                        </form>
                    </div>
                    <div class="right-column">
                        <form action="/Listing/update" method="post">
                        <div class="product-description">
                            <span><input type="text" id="tag" name="tag" th:field="${listing.tag}"/></span>
                            <h1><input type="text" id="name" name="name" th:field="${listing.name}"/></h1>
                            <h2 data-th-text="${seller.name}"></h2>
                            <p><input type="text" id="description" name="description" th:field="${listing.description}"/></p>
                        </div>
                        <div class="product-configuration">
                            <div class="type-config">
                                <div class="type-choose">
                                    <button>Thing1</button>
                                    <button>Thing2</button>
                                    <button>Thing3</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-price">
                            <span><input type="text" id="price" name="price" th:field="${listing.price}"/></span>
                            <a>
                                    <input type="hidden" id="pfp" name="pfp" data-th-value="${listing.pfp}">
                                    <input type="hidden" name="sellerId" data-th-value="${seller.sellerId}">
                                    <input type="hidden" name="listingId" data-th-value="${listing.listingId}">
                                    <button type="submit" class="cart-button">Edit Listing</button>
                            </a>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>




</body>
</html>