<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listing Page</title>
    <link rel="stylesheet" href="../css/profile.css" th:href="@{/css/profile.css}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/generalStyleTbay.css" th:href="@{/css/generalStyleTbay.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <nav data-th-insert="~{./fragments/header :: header}"></nav>

</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li><a data-th-href="@{/seller/{sellerId} (sellerId=${seller.sellerId})}"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Incoming Orders</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Completed Orders</a></li>
                            <li class="active"><a data-th-href="@{/seller/sellerListings/{sellerId} (sellerId=${seller.sellerId})}"><span class="fa fa-envelope"></span> Listings</a></li>

                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh" title="Refresh Listing"><i class="fa fa-refresh"></i></button>
                                <a data-th-href="@{/Listing/showNew/{sellerId} (sellerId=${seller.sellerId})}">
                                    <button class="btn btn-success"><i class="fa fa-plus" ></i>Add Listing</button>
                                </a>                           
                            </div>
                        </div>
                    </div>
                    <div class="drive-wrapper drive-grid-view" style="margin-bottom: 15px;">
                        <div class="grid-items-wrapper">
                            <tr data-th-each="listing : ${listingList}">
                                <a data-th-href="@{/Listing/seller/{listingId} (listingId=${listing.listingId})}" style="color: #616670">
                                    <div class="drive-item module text-center">
                                        <div class="drive-item-inner module-inner">
                                            <div class="drive-item-thumb">
                                                <img th:if="${listing.base64Image != null}" th:src="'data:image/png;base64,' + ${listing.base64Image}" alt="">
                                            </div>
                                        </div>
                                        <div class="drive-item-footer module-footer">
                                            <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                                                <li data-th-text=" ${listing.name}"></li>
                                                <li data-th-text="'$'+ ${listing.price}"></li>
                                                <li data-th-text=" ${listing.tag}"><a style="font-size: 10px; color: #00000;"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
            



    </body>
</html>