<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/generalStyleTbay.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <div th:replace="~{fragments/header :: header(userId=${user.userId}, profilePic=${profilePic})}"></div>-->

</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" th:src="@{'data:image/jpeg;base64,'+${profilePic}}" alt="">
                        <ul class="meta list list-unstyled" style="list-style-type:none; padding-left: 0px;">
                            <li class="name" width= 80px data-th-text="${user.name}"></li>
                            <li class="email"><a href="#" data-th-text="${user.email}"></a></li>
                            <p>User Since:<li class="activity" data-th-text="${user.creationDate}"> </li></p>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li class="active"><a href="#"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Purchases</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Billing</a></li>
                            <li><a href="#"><span class="fa fa-envelope"></span> Reviews</a></li>
                            <li><a href="log-in.html"><span class="fa fa-envelope"></span> Log Out</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">Bio:</h2>
                        <div class="content-bio">
                            <p class="card-text" data-th-text="${user.bio}"></p>
                        </div>
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh" title="Refresh Wishlist"><i class="fa fa-refresh"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Archive" title="View Wishlist"><i class="fa fa-archive"></i></button>
                                <a th:href="@{/users/edit/{userId}(userId=${userId})}"><button class="btn btn-success"><i class="fa fa-plus"></i>Edit Profile</button></a>

                                <h2 class="title">Wishlist:</h2>
                            </div>
                        </div>
                    </div>
                    <div class="drive-wrapper drive-grid-view">
                        <div class="grid-items-wrapper">
                            <tr data-th-each="listing : ${wishlist}">
                                <a data-th-href="@{/Listing/{listingId} (listingId=${listing.listingId})}" style="color: #616670">
                                    <div class="drive-item module text-center">
                                        <div class="drive-item-inner module-inner">
                                            <div class="drive-item-thumb">
                                                <img th:if="${listing.base64Image != null}" th:src="'data:image/png;base64,' + ${listing.base64Image}" alt="">
                                            </div>
                                        </div>
                                        <div class="drive-item-footer module-footer">
                                            <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                                                <li data-th-text=" ${listing.name}"></li>
                                                <li data-th-text="'$'+ ${listing.price}"></li>
                                                <li data-th-text=" ${listing.tag}"><a style="font-size: 10px; color: #00000;"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </tr>
                        </div>
                      </div>
                </div>
            </div>
        </section>
    </div>
</div>
            



</body>
</html>