<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tbay Homepage</title>
  <link rel="stylesheet" href="../css/profile.css" th:href="@{/css/profile.css}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="../css/generalStyleTbay.css" th:href="@{/css/generalStyleTbay.css}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <div th:replace="~{fragments/headerSeller :: headerSeller(sellerId=${seller.sellerId}, profilePic=${profilePic})}"></div>
</head>
<body>

<center><h2 data-th-text=" 'Welcome Back, ' + ${seller.name}"></h2></center>

<div class="drive-wrapper drive-grid-view">
  <div class="grid-items-wrapper">
    <tr data-th-each="listing : ${listingList}">
      <a data-th-href="@{/Listing/seller/{listingId} (listingId=${listing.listingId})}" style="color: #616670">
        <div class="drive-item module text-center">
          <div class="drive-item-inner module-inner">
            <div class="drive-item-thumb">
              <img th:if="${listing.base64Image != null}" th:src="'data:image/png;base64,' + ${listing.base64Image}" alt="">
            </div>
          </div>
          <div class="drive-item-footer module-footer">
            <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
              <li data-th-text=" ${listing.name}"></li>
              <li data-th-text="'$'+ ${listing.price}"></li>
              <li data-th-text=" ${listing.tag}"><a style="font-size: 10px; color: #00000;"></a></li>
            </ul>
          </div>
        </div>
      </a>
    </tr>
  </div>
</div>
</div>

<h2><center>Recommended for You</center></h2>

<div class="drive-wrapper drive-grid-view">
  <div class="grid-items-wrapper">
    <tr data-th-each="listing : ${recList}">
      <a data-th-href="@{/Listing/seller/{listingId} (listingId=${listing.listingId})}" style="color: #616670">
        <div class="drive-item module text-center">
          <div class="drive-item-inner module-inner">
            <div class="drive-item-thumb">
              <img th:if="${listing.base64Image != null}" th:src="'data:image/png;base64,' + ${listing.base64Image}" alt="">
            </div>
          </div>
          <div class="drive-item-footer module-footer">
            <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
              <li data-th-text=" ${listing.name}"></li>
              <li data-th-text="'$'+ ${listing.price}"></li>
              <li data-th-text=" ${listing.tag}"><a style="font-size: 10px; color: #00000;"></a></li>
            </ul>
          </div>
        </div>
      </a>
    </tr>
  </div>
</div>
</div>
</body>
</html>