<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SellerProfile</title>
    <link rel="stylesheet" href="../css/profile.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/generalStyleTbay.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div th:replace="~{fragments/headerSeller :: headerSeller(sellerId=${seller.sellerId}, profilePic=${profilePic})}"></div>
</head>
<body>

<div class="container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="side-bar">
                    <div class="user-info">
                        <img class="img-profile img-circle img-responsive center-block" th:src="@{'data:image/jpeg;base64,'+${profilePic}}" />
                        <ul class="meta list list-unstyled" style="list-style-type:none; padding-left: 0px;">
                            <li class="name" width= 80px data-th-text="${seller.name}"></li>
                            <li class="email" data-th-text="${seller.email}"></li>
                            <li class="activity" data-th-text="'Member Since: '+${seller.creationDate}"></li>
                        </ul>
                    </div>
                    <nav class="side-menu">
                        <ul class="nav" style="padding-left: 0px;">
                            <li class="active"><a data-th-href="@{/seller/{sellerId} (sellerId=${seller.sellerId})}"><span class="fa fa-user"></span> Profile</a></li>
                            <li><a href="#"><span class="fa fa-cog"></span> Incoming Orders</a></li>
                            <li><a href="#"><span class="fa fa-credit-card"></span> Completed Orders</a></li>
                            <li><a data-th-href="@{/seller/sellerListings/{sellerId} (sellerId=${seller.sellerId})}"><span class="fa fa-envelope"></span> Listings</a></li>
                            <li><a href="log-in.html"><span class="fa fa-envelope"></span> Log Out</a></li>

                        </ul>
                    </nav>
                </div>

                <div class="content-panel">
                    <div class="content-header-wrapper">
                        <h2 class="title">Bio:</h2>
                        <div class="content-bio">
                            <p data-th-text="${seller.bio}"></p>
                        </div>
                    </div>
                    <div class="content-utilities">
                        <div class="actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Refresh" title="Refresh Orders"><i class="fa fa-refresh"></i></button>
                                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" data-original-title="Archive" title="View All Orders"><i class="fa fa-archive"></i></button>
                                <a data-th-href="@{/seller/update/{sellerId} (sellerId=${seller.sellerId})}"><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Edit Profile">Edit Profile</button></a>
                                <h2 class="title">Incoming Orders:</h2>
                            </div>
                        </div>
                    </div>
                    <div class="drive-wrapper drive-grid-view" style="margin-bottom: 15px;">
                        <div class="grid-items-wrapper">
                            <tr data-th-each="order : ${incomingOrders}">
                                <a style="color: #616670">
                                    <div class="drive-item module text-center">
                                        <div class="drive-item-footer module-footer">
                                            <ul class="utilities list-inline" style="list-style-type:none;padding-left: 20px;">
                                                <li data-th-text=" ${order.orderId}"></li>
                                                <li data-th-text="${#dates.format(order.orderDate, 'dd-MMM-yyyy')}"></li>
                                                <li data-th-text=" ${order.listingId}"><a style="font-size: 10px; color: #00000;"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </a>
                            </tr>
                        </div>
                    </div>
                    <h2 class="title">Completed Orders:</h2>
                    <div class="drive-wrapper drive-grid-view" style="margin-bottom: 15px;">
                        <div class="grid-items-wrapper">

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
            



</body>
</html>